In [1]:
import pandas as pd
from sqlalchemy import create_engine
df = pd.read_csv(r"C:\Users\FUT_Nandhini\Downloads\Sample_data.csv")
engine = create_engine("sqlite:///My_db.db",echo=True)
df.to_sql('your_table',con=engine,if_exists = 'replace',index=False)

2025-02-15 23:38:57,714 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-02-15 23:38:57,714 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("your_table")
2025-02-15 23:38:57,714 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-02-15 23:38:57,714 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("your_table")
2025-02-15 23:38:57,722 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-02-15 23:38:57,723 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2025-02-15 23:38:57,724 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-02-15 23:38:57,724 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='view' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2025-02-15 23:38:57,725 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-02-15 23:38:57,727 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("your_table")
2025-02-15 23:38:57,728 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-02-15 23:38:57,729 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2025-02-15 23:38:57,729 INFO sqlalchemy.engine.Engine [raw sql] ('your_table',)
2025-02-15 23:38:57,732 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("your_table")
2025-02-15 23:38:57,732 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-02-15 23:38:57,733 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("your_table")
2025-02-15 23:38:57,734 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-02-15 23:38:57,734 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2025-02-15 23:38:57,735 INFO sqlalchemy.engine.Engine [raw sql] ('your_table',)
2025-02-15 23:38:57,737 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("your_table")
2025-02-15 23:38:57,738 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-02-15 23:38:57,740 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("your_table")
2025-02-15 23:38:57,740 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-02-15 23:38:57,741 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("your_table")
2025-02-15 23:38:57,742 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-02-15 23:38:57,743 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("your_table")
2025-02-15 23:38:57,744 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-02-15 23:38:57,745 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("your_table")
2025-02-15 23:38:57,746 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-02-15 23:38:57,747 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("your_table")
2025-02-15 23:38:57,748 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-02-15 23:38:57,748 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2025-02-15 23:38:57,749 INFO sqlalchemy.engine.Engine [raw sql] ('your_table',)
2025-02-15 23:38:57,752 INFO sqlalchemy.engine.Engine
DROP TABLE your_table
2025-02-15 23:38:57,753 INFO sqlalchemy.engine.Engine [no key 0.00065s] ()
2025-02-15 23:38:58,324 INFO sqlalchemy.engine.Engine
CREATE TABLE your_table (
	"Unnamed: 0" BIGINT,
	"Job Card Number" BIGINT,
	"Job Card Date" TEXT,
	"Model Code" TEXT,
	"Model Name" TEXT,
	"Odometer" FLOAT,
	"Customer voice" TEXT,
	"Split Order Type" TEXT,
	"Part_Labour Code" TEXT,
	"Part_Labour Description" TEXT,
	"State of Customer" TEXT,
	"SAC Code" FLOAT,
	"Engine No" TEXT,
	"Service Plant Name" TEXT,
	"Vin" TEXT,
	"Failure Date" TEXT,
	"Order Type" TEXT,
	"Claim Status" TEXT,
	"Claim Approval" TEXT,
	"Part_Labour Cost" FLOAT,
	"Defect Code" TEXT,
	"Fault Code" TEXT,
	"Supplier Code" TEXT,
	"Claim Number" TEXT,
	"Production Date" TEXT,
	"Production Plant" TEXT,
	"Sales Date" TEXT,
	"Sales To" TEXT,
	"Emission Type" TEXT,
	"Engine Type" TEXT,
	"Segment" TEXT,
	"Defect Description" TEXT,
	"Defect Aggregate" TEXT,
	"Complaint Group" TEXT,
	"Defect Group" TEXT,
	"Fault Description" TEXT,
	"Service Center Name" TEXT,
	"Service Center City" TEXT,
	"Area Office" TEXT,
	"Region Office" TEXT,
	"Service Center State" TEXT,
	"Maximum Odometer" FLOAT,
	"Odometer_Bin" FLOAT,
	"Part_Labour Flag" TEXT,
	"Labour flag" TEXT,
	"Part_failure Repeat Flag" TEXT,
	"Reset_from_last_failure" FLOAT,
	"Apportion Cost" FLOAT,
	"Total Warranty Cost" FLOAT,
	"Running_days_from_sales" FLOAT,
	"Month_In_Service" BIGINT,
	uni_values TEXT,
	__index_level_0__ FLOAT
)


2025-02-15 23:38:58,331 INFO sqlalchemy.engine.Engine [no key 0.00149s] ()
2025-02-15 23:38:58,916 INFO sqlalchemy.engine.Engine INSERT INTO your_table ("Unnamed: 0", "Job Card Number", "Job Card Date", "Model Code", "Model Name", "Odometer", "Customer voice", "Split Order Type", "Part_Labour Code", "Part_Labour Description", "State of Customer", "SAC Code", "Engine No", "Service Plant Name", "Vin", "Failure Date", "Order Type", "Claim Status", "Claim Approval", "Part_Labour Cost", "Defect Code", "Fault Code", "Supplier Code", "Claim Number", "Production Date", "Production Plant", "Sales Date", "Sales To", "Emission Type", "Engine Type", "Segment", "Defect Description", "Defect Aggregate", "Complaint Group", "Defect Group", "Fault Description", "Service Center Name", "Service Center City", "Area Office", "Region Office", "Service Center State", "Maximum Odometer", "Odometer_Bin", "Part_Labour Flag", "Labour flag", "Part_failure Repeat Flag", "Reset_from_last_failure", "Apportion Cost", "Total Warranty Cost", "Running_days_from_sales", "Month_In_Service", uni_values, __index_level_0__) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2025-02-15 23:38:58,920 INFO sqlalchemy.engine.Engine [generated in 0.01254s] [(0, 2027554176, '2024-11-30', 'CGE161522CC001', 'CA1615/47 H CC G', 824.0, 'NO CUSTOMER VOICE', 'PDI ORDER', 'FS0001', 'PDI SERVICE', 'TAMIL NADU', 39261.0, 'RBHZ429562', 'SUNRISE AUTO-MEHSANA', 'MB1A3GDD7RABS9907', '2024-11-30', 'ZPDI', 'B020', 'NOT APPROVED', 826.0, 'F001', 'FS', 'NO RECORDS', '85931391', '2024-11-30', 'ALWAR', '2024-11-30', 'AMPL ', 'BS6', 'H4BS6', None, 'PDI SERVICE', 'OTHERS', 'OTHERS', 'ROUTINE', 'FREE SERVICE', 'SUNRISE MEHSANA', 'MEHSANA', 'AHMEDABAD', 'AHMEDABAD', 'GUJARAT', 824.0, 2500.0, 'LABOUR', 'REPAIR', 'NO', 824.0, 0.0, 826.0, 0.0, 0, '2027554196FS0001', 0.0), (1, 2027348992, '2024-11-18', 'CDE1915POC0002', 'CA1915/47 H CC', 20.0, 'PDI', 'PDI ORDER', 'FS0001', 'PDI SERVICE', 'TAMIL NADU', 90708.0, 'RDEZ423731', 'TVS MOB.-THRISSUR', 'MB1A5HCD6REBP7960', '2024-11-18', 'ZPDI', 'B020', 'NOT APPROVED', 826.0, 'F001', 'FS', 'NO RECORDS', '85911737', '2024-11-18', 'ENNORE', '2024-11-18', 'TVS MOBILITY', 'BS6', 'H4BS6', None, 'PDI SERVICE', 'OTHERS', 'OTHERS', 'ROUTINE', 'FREE SERVICE', 'TVS MOBILITY-THRISSUR', 'TRISSUR', 'COCHIN', 'CHENNAI', 'KERALA', 20.0, 2500.0, 'LABOUR', 'REPAIR', 'NO', 20.0, 0.0, 826.0, 0.0, 0, '2027348993FS0001', 0.0), (2, 2027516672, '2024-11-27', 'CTU282516B0002', 'UE2825/39 T TIP', 2.0, 'NO CUSTOMER VOICE', 'PDI ORDER', 'FS0001', 'PDI SERVICE', 'TAMIL NADU', 98908.0, 'RBHZ429629', 'AHUJA AUTOMOBILES-RA', 'MB1H3LHD1RRBB5452', '2024-11-27', 'ZPDI', 'B020', 'NOT APPROVED', 1416.0, 'F001', 'FS', 'NO RECORDS', '85928744', '2024-11-27', 'HOSUR-2', '2024-11-27', 'AHUJA AUTOMOBILES', 'BS6', 'H6BS64V', 'TIPPER 6X4', 'PDI SERVICE', 'OTHERS', 'OTHERS', 'ROUTINE', 'FREE SERVICE', 'AHUJA AUTOMOBILES', 'RAIPUR', 'RAIPUR', 'NAGPUR', 'CHHATTISGARH', 2.0, 2500.0, 'LABOUR', 'REPAIR', 'NO', 2.0, 0.0, 1416.0, 0.0, 0, '2027516685FS0001', 0.0), (3, 2007798400, '2020-03-03', 'CBN-0000017', 'N2518-T BS4', 2440.0, 'NO CUSTOMER VOICE', 'PRESALES ORDER', 'SCR180', 'DRAIN & REFILL ADBLUE', 'TAMIL NADU', 80977.0, 'KHEZ407043', 'TVS-PILLAICHATHIRAM', 'MB1HTVHD2KEFA0043', '2020-03-03', 'ZPRE', 'B020', 'NOT APPROVED', 116.82, '19A1', 'B7', 'NO RECORDS', '24578840', '2020-02-21', 'ENNORE', '2020-02-21', 'ALHO', 'BS6', 'H6BS62V', 'TIPPER 6X4', 'UREA TANK', 'SCR COMPONENTS', 'UREA TANK', 'SCR COMPONENTS', 'LOW LEVEL', 'TVS', 'PILLAICHATHIRAM', 'PILLAICHATHIRAM', 'PILLAICHATHIRAM', 'TAMIL NADU', 2456.0, 2500.0, 'LABOUR', 'REPLACE', 'NO', 2440.0, 0.0, 0.0, 11.0, 0, '2007798415SCR180', 0.0), (4, 2007658624, '2020-02-21', 'CBN-0000017', 'N2518-T BS4', 2423.0, 'NO CUSTOMER VOICE', 'PRESALES ORDER', 'SCR180', 'DRAIN & REFILL ADBLUE', 'TAMIL NADU', 80977.0, 'KHEZ407043', 'TVS-PILLAICHATHIRAM', 'MB1HTVHD2KEFA0043', '2020-02-21', 'ZPRE', 'B020', 'NOT APPROVED', 116.82, '19A1', 'B7', 'NO RECORDS', '24516713', '2020-02-21', 'ENNORE', '2020-02-21', 'ALHO', 'BS6', 'H6BS62V', 'TIPPER 6X4', 'UREA TANK', 'SCR COMPONENTS', 'UREA TANK', 'SCR COMPONENTS', 'LOW LEVEL', 'TVS', 'PILLAICHATHIRAM', 'PILLAICHATHIRAM', 'PILLAICHATHIRAM', 'TAMIL NADU', 2456.0, 2500.0, 'LABOUR', 'REPLACE', 'NO', 2423.0, 0.0, 0.0, 0.0, 0, '2007658630SCR180', 0.0), (5, 2007880320, '2020-03-11', 'CBN-0000017', 'N2518-T BS4', 2456.0, 'NO CUSTOMER VOICE', 'PRESALES ORDER', 'SCR180', 'DRAIN & REFILL ADBLUE', 'TAMIL NADU', 80977.0, 'KHEZ407043', 'TVS-PILLAICHATHIRAM', 'MB1HTVHD2KEFA0043', '2020-03-11', 'ZPRE', 'B020', 'NOT APPROVED', 116.82, '19A1', 'B7', 'NO RECORDS', '24623089', '2020-02-21', 'ENNORE', '2020-02-21', 'ALHO', 'BS6', 'H6BS62V', 'TIPPER 6X4', 'UREA TANK', 'SCR COMPONENTS', 'UREA TANK', 'SCR COMPONENTS', 'LOW LEVEL', 'TVS', 'PILLAICHATHIRAM', 'PILLAICHATHIRAM', 'PILLAICHATHIRAM', 'TAMIL NADU', 2456.0, 2500.0, 'LABOUR', 'REPLACE', 'NO', 2456.0, 0.0, 0.0, 19.0, 1, '2007880374SCR180', 0.0), (6, 2007833600, '2020-03-06', 'CBN-0000017', 'N2518-T BS4', 2445.0, 'NO CUSTOMER VOICE', 'PRESALES ORDER', 'SCR180', 'DRAIN & REFILL ADBLUE', 'TAMIL NADU', 80977.0, 'KHEZ407043', 'TVS-PILLAICHATHIRAM', 'MB1HTVHD2KEFA0043', '2020-03-06', 'ZPRE', 'B020', 'NOT APPROVED', 116.82, '19A1', 'B7', 'NO RECORDS', '24603957', '2020-02-21', 'ENNORE', '2020-02-21', 'ALHO', 'BS6', 'H6BS62V', 'TIPPER 6X4', 'UREA TANK', 'SCR COMPONENTS', 'UREA TANK', 'SCR COMPONENTS', 'LOW LEVEL', 'TVS', 'PILLAICHATHIRAM', 'PILLAICHATHIRAM', 'PILLAICHATHIRAM', 'TAMIL NADU', 2456.0, 2500.0, 'LABOUR', 'REPLACE', 'NO', 2445.0, 0.0, 0.0, 14.0, 0, '2007833633SCR180', 0.0), (7, 2007658624, '2020-02-21', 'CBN-0000017', 'N2518-T BS4', 2423.0, 'NO CUSTOMER VOICE', 'PRESALES ORDER', 'SCR180', 'DRAIN & REFILL ADBLUE', 'TAMIL NADU', 80977.0, 'KHEZ407043', 'TVS-PILLAICHATHIRAM', 'MB1HTVHD2KEFA0043', '2020-02-21', 'ZPRE', 'B020', 'NOT APPROVED', 116.82, '19A1', 'B7', 'NO RECORDS', '24516713', '2020-02-21', 'ENNORE', '2020-02-21', 'ALHO', 'BS6', 'H6BS62V', 'TIPPER 6X4', 'UREA TANK', 'SCR COMPONENTS', 'UREA TANK', 'SCR COMPONENTS', 'LOW LEVEL', 'TVS', 'PILLAICHATHIRAM', 'PILLAICHATHIRAM', 'PILLAICHATHIRAM', 'TAMIL NADU', 2456.0, 2500.0, 'LABOUR', 'REPLACE', 'NO', 2423.0, 0.0, 0.0, 0.0, 0, '2007658630SCR180', 0.0)  ... displaying 10 of 500 total bound parameter sets ...  (498, 2017966208, '2023-02-15', 'CBL15099G38001', 'LS1509.9C6R', 40833.0, 'NO CUSTOMER VOICE', 'PRESALES ORDER', 'F7A05000', 'SPIN ON OIL FILTER 80K', 'TAMIL NADU', 90675.0, 'NLHZ405419', 'TVS MOB.-NILAMBUR', 'MB1PAEDD4NAML5930', '2023-02-15', 'ZPRE', 'B020', 'NOT APPROVED', 1461.26, '02G2', 'AL', 'NO RECORDS', '28059201', '2022-05-17', 'ALWAR', '2022-05-17', 'TVS MOB.', 'BS6', 'H4BS6', 'PASSENGER 4X2', 'OIL FILLER CAP', 'ENGINE', 'ENGINE OIL FILER CAP', 'CYLINDER HEAD', 'EXCESS CLEARANCE/ PLAY/ WORN', 'TVS MOBILITY-COIMBATORE', 'COIMBATORE', 'SALEM', 'MADURAI', 'TAMIL NADU', 42556.0, 42500.0, 'PART', 'REPLACE', 'YES', 40833.0, 70.8, 1532.06, 274.0, 9, '2017966182F7A05000', 0.0), (499, 2027524352, '2024-11-28', 'CDR2820RSC0001', 'CE2820/39 R CC', 99.0, 'NO CUSTOMER VOICE', 'PDI ORDER', 'FS0001', 'PDI SERVICE', 'TAMIL NADU', 93632.0, 'RBPZ140133', 'CHADHA-INDORE', 'MB1H3GHD4RABT0053', '2024-11-28', 'ZPDI', 'B020', 'NOT APPROVED', 944.0, 'F001', 'FS', 'NO RECORDS', '85930025', '2024-11-28', 'ALWAR', '2024-11-28', 'DUGGAL AUTOMOBILES ', 'BS6', 'H6BS62V', 'TIPPER 6X4', 'PDI SERVICE', 'OTHERS', 'OTHERS', 'ROUTINE', 'FREE SERVICE', 'CHADHA AUTO', 'INDORE', 'INDORE', 'INDORE', 'MADHYA PRADESH', 99.0, 2500.0, 'LABOUR', 'REPAIR', 'NO', 99.0, 0.0, 944.0, 0.0, 0, '2027524387FS0001', 0.0)]
2025-02-15 23:38:58,939 INFO sqlalchemy.engine.Engine COMMIT

500

In [46]:
from tokenizers import Tokenizer

tokenizer = Tokenizer.from_pretrained("defog/sqlcoder-7b-2")

e:\texttosql\Lib\site-packages\huggingface_hub\file_download.py:140: UserWarning: `huggingface_hub` cache-system uses symlinks by default to efficiently store duplicated files but your machine does not support them in C:\Users\FUT_Nandhini\.cache\huggingface\hub\models--defog--sqlcoder-7b-2. Caching files will still work but in a degraded version that might require more space on your disk. This warning can be disabled by setting the `HF_HUB_DISABLE_SYMLINKS_WARNING` environment variable. For more details, see https://huggingface.co/docs/huggingface_hub/how-to-cache#limitations.
To support symlinks on Windows, you either need to activate Developer Mode or to run Python as an administrator. In order to activate developer mode, see this article: https://docs.microsoft.com/en-us/windows/apps/get-started/enable-your-device-for-development
  warnings.warn(message)

In [49]:
#from transformers import SQLCoderTokenizer, SQLCoderModel
#from transformers import SQLCoderTokenizer, SQLCoderModel
#from sqlcoder import SQLCoderTokenizer, SQLCoderModel

import sqlalchemy
import pandas as pd

# 1. Database connection (using SQLAlchemy) - Assuming you've already done this
engine = sqlalchemy.create_engine("sqlite:///My_db.db", echo=True)

# 2. Load SQLCoder tokenizer and model
#tokenizer = SQLCoderTokenizer.from_pretrained('defog/sqlcoder')
model = tokenizer.from_pretrained('defog/sqlcoder-7b-2')

# 3. Get the database schema
def get_table_schemas(engine):
    """Extracts table schemas from the SQLAlchemy engine."""
    inspector = sqlalchemy.inspect(engine)
    schemas = {}
    for table_name in inspector.get_table_names():
        columns = inspector.get_columns(table_name)
        column_definitions = []
        for column in columns:
            column_name = column['name']
            column_type = str(column['type'])  # Convert type to string
            column_definitions.append(f"{column_name} {column_type}")
        schemas[table_name] = f"CREATE TABLE {table_name} ({', '.join(column_definitions)});"
    return "\n".join(schemas.values())

db_schema = get_table_schemas(engine)

# 4. Define your natural language question
question = "What is the average price of products?"

# 5. Construct the prompt for SQLCoder (critical step)
prompt = f"""
### Instructions:
Your task is to convert a question into a SQL query, given a database schema.
Adhere to these rules:
- Deliberately go through the question and database schema word by word to appropriately answer the question
- Use Table Aliases to prevent ambiguity. For example, `SELECT table1.col1, table2.col1 FROM table1 JOIN table2 ON table1.id = table2.id`.
- When creating a ratio, always cast the numerator as float
### Input:
Generate a SQL query that answers the question `{question}`.
This query will run on a database whose schema is represented in this string:
{db_schema}
### Response:
Based on your instructions, here is the SQL query I have generated to answer the question `{question}`:
"""

2025-02-15 23:29:30,537 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-02-15 23:29:30,537 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2025-02-15 23:29:30,551 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-02-15 23:29:30,554 INFO sqlalchemy.engine.Engine ROLLBACK
2025-02-15 23:29:30,556 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-02-15 23:29:30,557 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("your_table")
2025-02-15 23:29:30,559 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-02-15 23:29:30,560 INFO sqlalchemy.engine.Engine ROLLBACK

In [50]:

# Now you can use the tokenizer and model to generate the SQL query
inputs = tokenizer(prompt, return_tensors="pt")
outputs = model.generate(**inputs)
sql_query = tokenizer.decode(outputs[0], skip_special_tokens=True)

print(sql_query)

TypeError: 'tokenizers.Tokenizer' object is not callable

In [56]:
import pandas as pd
from sqlalchemy import create_engine
from transformers import AutoTokenizer, AutoModelForCausalLM
import sqlalchemy

# Load your CSV data into a DataFrame
df = pd.read_csv(r"C:\Users\FUT_Nandhini\Downloads\Sample_data.csv")

# Create a SQLite engine
engine = create_engine("sqlite:///My_db.db", echo=True)

# Write the DataFrame to a SQL table
df.to_sql('sample_data', con=engine, if_exists='replace', index=False)

# Load SQLCoder tokenizer and model
tokenizer = AutoTokenizer.from_pretrained('defog/sqlcoder-7b-2')
model = AutoModelForCausalLM.from_pretrained('defog/sqlcoder-7b-2')

# Function to get the database schema
def get_table_schemas(engine):
    """Extracts table schemas from the SQLAlchemy engine."""
    inspector = sqlalchemy.inspect(engine)
    schemas = {}
    for table_name in inspector.get_table_names():
        columns = inspector.get_columns(table_name)
        column_definitions = []
        for column in columns:
            column_name = column['name']
            column_type = str(column['type'])  # Convert type to string
            column_definitions.append(f"{column_name} {column_type}")
        schemas[table_name] = f"CREATE TABLE {table_name} ({', '.join(column_definitions)});"
    return "\n".join(schemas.values())

# Get the database schema
db_schema = get_table_schemas(engine)
print(db_schema)



# Construct the prompt for SQLCoder
prompt = f"""
### Instructions:
Your task is to convert a question into a SQL query, given a database schema.
Adhere to these rules:
- Deliberately go through the question and database schema word by word to appropriately answer the question
- Use Table Aliases to prevent ambiguity. For example, `SELECT table1.col1, table2.col1 FROM table1 JOIN table2 ON table1.id = table2.id`.
- When creating a ratio, always cast the numerator as float
### Input:
Generate a SQL query that answers the question `{question}`.
print the columns names and values completely as asked in the question
Very important note: the output should be consize and complete
This query will run on a database whose schema is represented in this string:
{db_schema}
### Response:
Based on your instructions, here is the SQL query I have generated to answer the question `{question}`:
### Response:
Based on your instructions, here is the SQL query I have generated to answer the question `{question}`:
"""

2025-02-16 21:58:09,192 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-02-16 21:58:09,200 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("sample_data")
2025-02-16 21:58:09,200 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-02-16 21:58:09,204 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("sample_data")
2025-02-16 21:58:09,206 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-02-16 21:58:09,208 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2025-02-16 21:58:09,208 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-02-16 21:58:09,210 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='view' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2025-02-16 21:58:09,210 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-02-16 21:58:09,212 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("sample_data")
2025-02-16 21:58:09,213 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-02-16 21:58:09,215 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2025-02-16 21:58:09,215 INFO sqlalchemy.engine.Engine [raw sql] ('sample_data',)
2025-02-16 21:58:09,218 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("sample_data")
2025-02-16 21:58:09,219 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-02-16 21:58:09,220 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("sample_data")
2025-02-16 21:58:09,222 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-02-16 21:58:09,224 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2025-02-16 21:58:09,224 INFO sqlalchemy.engine.Engine [raw sql] ('sample_data',)
2025-02-16 21:58:09,225 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("sample_data")
2025-02-16 21:58:09,226 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-02-16 21:58:09,227 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("sample_data")
2025-02-16 21:58:09,228 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-02-16 21:58:09,229 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("sample_data")
2025-02-16 21:58:09,230 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-02-16 21:58:09,230 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("sample_data")
2025-02-16 21:58:09,232 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-02-16 21:58:09,233 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("sample_data")
2025-02-16 21:58:09,234 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-02-16 21:58:09,235 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("sample_data")
2025-02-16 21:58:09,236 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-02-16 21:58:09,237 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2025-02-16 21:58:09,238 INFO sqlalchemy.engine.Engine [raw sql] ('sample_data',)
2025-02-16 21:58:09,244 INFO sqlalchemy.engine.Engine
DROP TABLE sample_data
2025-02-16 21:58:09,244 INFO sqlalchemy.engine.Engine [no key 0.00087s] ()
2025-02-16 21:58:09,402 INFO sqlalchemy.engine.Engine
CREATE TABLE sample_data (
	"Unnamed: 0" BIGINT,
	"Job Card Number" BIGINT,
	"Job Card Date" TEXT,
	"Model Code" TEXT,
	"Model Name" TEXT,
	"Odometer" FLOAT,
	"Customer voice" TEXT,
	"Split Order Type" TEXT,
	"Part_Labour Code" TEXT,
	"Part_Labour Description" TEXT,
	"State of Customer" TEXT,
	"SAC Code" FLOAT,
	"Engine No" TEXT,
	"Service Plant Name" TEXT,
	"Vin" TEXT,
	"Failure Date" TEXT,
	"Order Type" TEXT,
	"Claim Status" TEXT,
	"Claim Approval" TEXT,
	"Part_Labour Cost" FLOAT,
	"Defect Code" TEXT,
	"Fault Code" TEXT,
	"Supplier Code" TEXT,
	"Claim Number" TEXT,
	"Production Date" TEXT,
	"Production Plant" TEXT,
	"Sales Date" TEXT,
	"Sales To" TEXT,
	"Emission Type" TEXT,
	"Engine Type" TEXT,
	"Segment" TEXT,
	"Defect Description" TEXT,
	"Defect Aggregate" TEXT,
	"Complaint Group" TEXT,
	"Defect Group" TEXT,
	"Fault Description" TEXT,
	"Service Center Name" TEXT,
	"Service Center City" TEXT,
	"Area Office" TEXT,
	"Region Office" TEXT,
	"Service Center State" TEXT,
	"Maximum Odometer" FLOAT,
	"Odometer_Bin" FLOAT,
	"Part_Labour Flag" TEXT,
	"Labour flag" TEXT,
	"Part_failure Repeat Flag" TEXT,
	"Reset_from_last_failure" FLOAT,
	"Apportion Cost" FLOAT,
	"Total Warranty Cost" FLOAT,
	"Running_days_from_sales" FLOAT,
	"Month_In_Service" BIGINT,
	uni_values TEXT,
	__index_level_0__ FLOAT
)


2025-02-16 21:58:09,404 INFO sqlalchemy.engine.Engine [no key 0.00149s] ()
2025-02-16 21:58:09,540 INFO sqlalchemy.engine.Engine INSERT INTO sample_data ("Unnamed: 0", "Job Card Number", "Job Card Date", "Model Code", "Model Name", "Odometer", "Customer voice", "Split Order Type", "Part_Labour Code", "Part_Labour Description", "State of Customer", "SAC Code", "Engine No", "Service Plant Name", "Vin", "Failure Date", "Order Type", "Claim Status", "Claim Approval", "Part_Labour Cost", "Defect Code", "Fault Code", "Supplier Code", "Claim Number", "Production Date", "Production Plant", "Sales Date", "Sales To", "Emission Type", "Engine Type", "Segment", "Defect Description", "Defect Aggregate", "Complaint Group", "Defect Group", "Fault Description", "Service Center Name", "Service Center City", "Area Office", "Region Office", "Service Center State", "Maximum Odometer", "Odometer_Bin", "Part_Labour Flag", "Labour flag", "Part_failure Repeat Flag", "Reset_from_last_failure", "Apportion Cost", "Total Warranty Cost", "Running_days_from_sales", "Month_In_Service", uni_values, __index_level_0__) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2025-02-16 21:58:09,550 INFO sqlalchemy.engine.Engine [generated in 0.00923s] [(0, 2027554176, '2024-11-30', 'CGE161522CC001', 'CA1615/47 H CC G', 824.0, 'NO CUSTOMER VOICE', 'PDI ORDER', 'FS0001', 'PDI SERVICE', 'TAMIL NADU', 39261.0, 'RBHZ429562', 'SUNRISE AUTO-MEHSANA', 'MB1A3GDD7RABS9907', '2024-11-30', 'ZPDI', 'B020', 'NOT APPROVED', 826.0, 'F001', 'FS', 'NO RECORDS', '85931391', '2024-11-30', 'ALWAR', '2024-11-30', 'AMPL ', 'BS6', 'H4BS6', None, 'PDI SERVICE', 'OTHERS', 'OTHERS', 'ROUTINE', 'FREE SERVICE', 'SUNRISE MEHSANA', 'MEHSANA', 'AHMEDABAD', 'AHMEDABAD', 'GUJARAT', 824.0, 2500.0, 'LABOUR', 'REPAIR', 'NO', 824.0, 0.0, 826.0, 0.0, 0, '2027554196FS0001', 0.0), (1, 2027348992, '2024-11-18', 'CDE1915POC0002', 'CA1915/47 H CC', 20.0, 'PDI', 'PDI ORDER', 'FS0001', 'PDI SERVICE', 'TAMIL NADU', 90708.0, 'RDEZ423731', 'TVS MOB.-THRISSUR', 'MB1A5HCD6REBP7960', '2024-11-18', 'ZPDI', 'B020', 'NOT APPROVED', 826.0, 'F001', 'FS', 'NO RECORDS', '85911737', '2024-11-18', 'ENNORE', '2024-11-18', 'TVS MOBILITY', 'BS6', 'H4BS6', None, 'PDI SERVICE', 'OTHERS', 'OTHERS', 'ROUTINE', 'FREE SERVICE', 'TVS MOBILITY-THRISSUR', 'TRISSUR', 'COCHIN', 'CHENNAI', 'KERALA', 20.0, 2500.0, 'LABOUR', 'REPAIR', 'NO', 20.0, 0.0, 826.0, 0.0, 0, '2027348993FS0001', 0.0), (2, 2027516672, '2024-11-27', 'CTU282516B0002', 'UE2825/39 T TIP', 2.0, 'NO CUSTOMER VOICE', 'PDI ORDER', 'FS0001', 'PDI SERVICE', 'TAMIL NADU', 98908.0, 'RBHZ429629', 'AHUJA AUTOMOBILES-RA', 'MB1H3LHD1RRBB5452', '2024-11-27', 'ZPDI', 'B020', 'NOT APPROVED', 1416.0, 'F001', 'FS', 'NO RECORDS', '85928744', '2024-11-27', 'HOSUR-2', '2024-11-27', 'AHUJA AUTOMOBILES', 'BS6', 'H6BS64V', 'TIPPER 6X4', 'PDI SERVICE', 'OTHERS', 'OTHERS', 'ROUTINE', 'FREE SERVICE', 'AHUJA AUTOMOBILES', 'RAIPUR', 'RAIPUR', 'NAGPUR', 'CHHATTISGARH', 2.0, 2500.0, 'LABOUR', 'REPAIR', 'NO', 2.0, 0.0, 1416.0, 0.0, 0, '2027516685FS0001', 0.0), (3, 2007798400, '2020-03-03', 'CBN-0000017', 'N2518-T BS4', 2440.0, 'NO CUSTOMER VOICE', 'PRESALES ORDER', 'SCR180', 'DRAIN & REFILL ADBLUE', 'TAMIL NADU', 80977.0, 'KHEZ407043', 'TVS-PILLAICHATHIRAM', 'MB1HTVHD2KEFA0043', '2020-03-03', 'ZPRE', 'B020', 'NOT APPROVED', 116.82, '19A1', 'B7', 'NO RECORDS', '24578840', '2020-02-21', 'ENNORE', '2020-02-21', 'ALHO', 'BS6', 'H6BS62V', 'TIPPER 6X4', 'UREA TANK', 'SCR COMPONENTS', 'UREA TANK', 'SCR COMPONENTS', 'LOW LEVEL', 'TVS', 'PILLAICHATHIRAM', 'PILLAICHATHIRAM', 'PILLAICHATHIRAM', 'TAMIL NADU', 2456.0, 2500.0, 'LABOUR', 'REPLACE', 'NO', 2440.0, 0.0, 0.0, 11.0, 0, '2007798415SCR180', 0.0), (4, 2007658624, '2020-02-21', 'CBN-0000017', 'N2518-T BS4', 2423.0, 'NO CUSTOMER VOICE', 'PRESALES ORDER', 'SCR180', 'DRAIN & REFILL ADBLUE', 'TAMIL NADU', 80977.0, 'KHEZ407043', 'TVS-PILLAICHATHIRAM', 'MB1HTVHD2KEFA0043', '2020-02-21', 'ZPRE', 'B020', 'NOT APPROVED', 116.82, '19A1', 'B7', 'NO RECORDS', '24516713', '2020-02-21', 'ENNORE', '2020-02-21', 'ALHO', 'BS6', 'H6BS62V', 'TIPPER 6X4', 'UREA TANK', 'SCR COMPONENTS', 'UREA TANK', 'SCR COMPONENTS', 'LOW LEVEL', 'TVS', 'PILLAICHATHIRAM', 'PILLAICHATHIRAM', 'PILLAICHATHIRAM', 'TAMIL NADU', 2456.0, 2500.0, 'LABOUR', 'REPLACE', 'NO', 2423.0, 0.0, 0.0, 0.0, 0, '2007658630SCR180', 0.0), (5, 2007880320, '2020-03-11', 'CBN-0000017', 'N2518-T BS4', 2456.0, 'NO CUSTOMER VOICE', 'PRESALES ORDER', 'SCR180', 'DRAIN & REFILL ADBLUE', 'TAMIL NADU', 80977.0, 'KHEZ407043', 'TVS-PILLAICHATHIRAM', 'MB1HTVHD2KEFA0043', '2020-03-11', 'ZPRE', 'B020', 'NOT APPROVED', 116.82, '19A1', 'B7', 'NO RECORDS', '24623089', '2020-02-21', 'ENNORE', '2020-02-21', 'ALHO', 'BS6', 'H6BS62V', 'TIPPER 6X4', 'UREA TANK', 'SCR COMPONENTS', 'UREA TANK', 'SCR COMPONENTS', 'LOW LEVEL', 'TVS', 'PILLAICHATHIRAM', 'PILLAICHATHIRAM', 'PILLAICHATHIRAM', 'TAMIL NADU', 2456.0, 2500.0, 'LABOUR', 'REPLACE', 'NO', 2456.0, 0.0, 0.0, 19.0, 1, '2007880374SCR180', 0.0), (6, 2007833600, '2020-03-06', 'CBN-0000017', 'N2518-T BS4', 2445.0, 'NO CUSTOMER VOICE', 'PRESALES ORDER', 'SCR180', 'DRAIN & REFILL ADBLUE', 'TAMIL NADU', 80977.0, 'KHEZ407043', 'TVS-PILLAICHATHIRAM', 'MB1HTVHD2KEFA0043', '2020-03-06', 'ZPRE', 'B020', 'NOT APPROVED', 116.82, '19A1', 'B7', 'NO RECORDS', '24603957', '2020-02-21', 'ENNORE', '2020-02-21', 'ALHO', 'BS6', 'H6BS62V', 'TIPPER 6X4', 'UREA TANK', 'SCR COMPONENTS', 'UREA TANK', 'SCR COMPONENTS', 'LOW LEVEL', 'TVS', 'PILLAICHATHIRAM', 'PILLAICHATHIRAM', 'PILLAICHATHIRAM', 'TAMIL NADU', 2456.0, 2500.0, 'LABOUR', 'REPLACE', 'NO', 2445.0, 0.0, 0.0, 14.0, 0, '2007833633SCR180', 0.0), (7, 2007658624, '2020-02-21', 'CBN-0000017', 'N2518-T BS4', 2423.0, 'NO CUSTOMER VOICE', 'PRESALES ORDER', 'SCR180', 'DRAIN & REFILL ADBLUE', 'TAMIL NADU', 80977.0, 'KHEZ407043', 'TVS-PILLAICHATHIRAM', 'MB1HTVHD2KEFA0043', '2020-02-21', 'ZPRE', 'B020', 'NOT APPROVED', 116.82, '19A1', 'B7', 'NO RECORDS', '24516713', '2020-02-21', 'ENNORE', '2020-02-21', 'ALHO', 'BS6', 'H6BS62V', 'TIPPER 6X4', 'UREA TANK', 'SCR COMPONENTS', 'UREA TANK', 'SCR COMPONENTS', 'LOW LEVEL', 'TVS', 'PILLAICHATHIRAM', 'PILLAICHATHIRAM', 'PILLAICHATHIRAM', 'TAMIL NADU', 2456.0, 2500.0, 'LABOUR', 'REPLACE', 'NO', 2423.0, 0.0, 0.0, 0.0, 0, '2007658630SCR180', 0.0)  ... displaying 10 of 500 total bound parameter sets ...  (498, 2017966208, '2023-02-15', 'CBL15099G38001', 'LS1509.9C6R', 40833.0, 'NO CUSTOMER VOICE', 'PRESALES ORDER', 'F7A05000', 'SPIN ON OIL FILTER 80K', 'TAMIL NADU', 90675.0, 'NLHZ405419', 'TVS MOB.-NILAMBUR', 'MB1PAEDD4NAML5930', '2023-02-15', 'ZPRE', 'B020', 'NOT APPROVED', 1461.26, '02G2', 'AL', 'NO RECORDS', '28059201', '2022-05-17', 'ALWAR', '2022-05-17', 'TVS MOB.', 'BS6', 'H4BS6', 'PASSENGER 4X2', 'OIL FILLER CAP', 'ENGINE', 'ENGINE OIL FILER CAP', 'CYLINDER HEAD', 'EXCESS CLEARANCE/ PLAY/ WORN', 'TVS MOBILITY-COIMBATORE', 'COIMBATORE', 'SALEM', 'MADURAI', 'TAMIL NADU', 42556.0, 42500.0, 'PART', 'REPLACE', 'YES', 40833.0, 70.8, 1532.06, 274.0, 9, '2017966182F7A05000', 0.0), (499, 2027524352, '2024-11-28', 'CDR2820RSC0001', 'CE2820/39 R CC', 99.0, 'NO CUSTOMER VOICE', 'PDI ORDER', 'FS0001', 'PDI SERVICE', 'TAMIL NADU', 93632.0, 'RBPZ140133', 'CHADHA-INDORE', 'MB1H3GHD4RABT0053', '2024-11-28', 'ZPDI', 'B020', 'NOT APPROVED', 944.0, 'F001', 'FS', 'NO RECORDS', '85930025', '2024-11-28', 'ALWAR', '2024-11-28', 'DUGGAL AUTOMOBILES ', 'BS6', 'H6BS62V', 'TIPPER 6X4', 'PDI SERVICE', 'OTHERS', 'OTHERS', 'ROUTINE', 'FREE SERVICE', 'CHADHA AUTO', 'INDORE', 'INDORE', 'INDORE', 'MADHYA PRADESH', 99.0, 2500.0, 'LABOUR', 'REPAIR', 'NO', 99.0, 0.0, 944.0, 0.0, 0, '2027524387FS0001', 0.0)]
2025-02-16 21:58:09,576 INFO sqlalchemy.engine.Engine COMMIT

Loading checkpoint shards: 100%|██████████| 3/3 [00:08<00:00,  2.72s/it]

2025-02-16 21:58:19,928 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-02-16 21:58:19,928 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2025-02-16 21:58:19,928 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-02-16 21:58:19,935 INFO sqlalchemy.engine.Engine ROLLBACK
2025-02-16 21:58:19,935 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-02-16 21:58:19,935 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("sample_data")
2025-02-16 21:58:19,940 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-02-16 21:58:19,943 INFO sqlalchemy.engine.Engine ROLLBACK
2025-02-16 21:58:19,946 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-02-16 21:58:19,946 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("your_table")
2025-02-16 21:58:19,950 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-02-16 21:58:19,953 INFO sqlalchemy.engine.Engine ROLLBACK
CREATE TABLE sample_data (Unnamed: 0 BIGINT, Job Card Number BIGINT, Job Card Date TEXT, Model Code TEXT, Model Name TEXT, Odometer FLOAT, Customer voice TEXT, Split Order Type TEXT, Part_Labour Code TEXT, Part_Labour Description TEXT, State of Customer TEXT, SAC Code FLOAT, Engine No TEXT, Service Plant Name TEXT, Vin TEXT, Failure Date TEXT, Order Type TEXT, Claim Status TEXT, Claim Approval TEXT, Part_Labour Cost FLOAT, Defect Code TEXT, Fault Code TEXT, Supplier Code TEXT, Claim Number TEXT, Production Date TEXT, Production Plant TEXT, Sales Date TEXT, Sales To TEXT, Emission Type TEXT, Engine Type TEXT, Segment TEXT, Defect Description TEXT, Defect Aggregate TEXT, Complaint Group TEXT, Defect Group TEXT, Fault Description TEXT, Service Center Name TEXT, Service Center City TEXT, Area Office TEXT, Region Office TEXT, Service Center State TEXT, Maximum Odometer FLOAT, Odometer_Bin FLOAT, Part_Labour Flag TEXT, Labour flag TEXT, Part_failure Repeat Flag TEXT, Reset_from_last_failure FLOAT, Apportion Cost FLOAT, Total Warranty Cost FLOAT, Running_days_from_sales FLOAT, Month_In_Service BIGINT, uni_values TEXT, __index_level_0__ FLOAT);
CREATE TABLE your_table (Unnamed: 0 BIGINT, Job Card Number BIGINT, Job Card Date TEXT, Model Code TEXT, Model Name TEXT, Odometer FLOAT, Customer voice TEXT, Split Order Type TEXT, Part_Labour Code TEXT, Part_Labour Description TEXT, State of Customer TEXT, SAC Code FLOAT, Engine No TEXT, Service Plant Name TEXT, Vin TEXT, Failure Date TEXT, Order Type TEXT, Claim Status TEXT, Claim Approval TEXT, Part_Labour Cost FLOAT, Defect Code TEXT, Fault Code TEXT, Supplier Code TEXT, Claim Number TEXT, Production Date TEXT, Production Plant TEXT, Sales Date TEXT, Sales To TEXT, Emission Type TEXT, Engine Type TEXT, Segment TEXT, Defect Description TEXT, Defect Aggregate TEXT, Complaint Group TEXT, Defect Group TEXT, Fault Description TEXT, Service Center Name TEXT, Service Center City TEXT, Area Office TEXT, Region Office TEXT, Service Center State TEXT, Maximum Odometer FLOAT, Odometer_Bin FLOAT, Part_Labour Flag TEXT, Labour flag TEXT, Part_failure Repeat Flag TEXT, Reset_from_last_failure FLOAT, Apportion Cost FLOAT, Total Warranty Cost FLOAT, Running_days_from_sales FLOAT, Month_In_Service BIGINT, uni_values TEXT, __index_level_0__ FLOAT);

In [57]:
question = "Get me top 25 aggregate by warranty cost since april 2023"

In [58]:
input_ids = tokenizer.encode(prompt, return_tensors='pt')

# Generate SQL query with increased max_new_tokens
output = model.generate(input_ids, max_new_tokens=150, temperature=0.5)  # Adjust max_new_tokens as needed

# Decode and print the generated SQL query
generated_sql = tokenizer.decode(output[0], skip_special_tokens=True)

# Remove prompt from output (if necessary)
generated_sql_cleaned = generated_sql[len(prompt):].strip()

print("Generated SQL Query:", generated_sql_cleaned)

e:\texttosql\Lib\site-packages\transformers\generation\configuration_utils.py:628: UserWarning: `do_sample` is set to `False`. However, `temperature` is set to `0.5` -- this flag is only used in sample-based generation modes. You should set `do_sample=True` or unset `temperature`.
  warnings.warn(
The attention mask and the pad token id were not set. As a consequence, you may observe unexpected behavior. Please pass your input's `attention_mask` to obtain reliable results.
Setting `pad_token_id` to `eos_token_id`:2 for open-end generation.

Generated SQL Query: SELECT s.Model Name, SUM(s.Total Warranty Cost) AS total_warranty_cost FROM sample_data s WHERE s.Job Card Date >= '2023-04-01' GROUP BY s.Model Name ORDER BY total_warranty_cost DESC LIMIT 25;

In [56]:
import torch
print(torch.__version__)

2.6.0+cpu